<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
                <i class="pi pi-dollar"></i>
                {{(ventasNetas + 1000000) | number:'1.2-2'}}
                <!-- despues de number va la cantidad de enteros y decimales de esta forma number: 'cantidadnumerosenteros.desdenumerodecimales-hastanumerodecimales'. Si pongo '1.2-4' le digo que muestre todos los numeros enteros y de 2 a 4 decimales. Si le pongo '1.2-2' le digo todos los enteros y SOLAMENTE 2 decimales -->
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas"
                subheader="del presente año">
                
                {{(ventasNetas + 2000000) | currency:'ARS':'symbol-narrow':'1.4-4'}}
                
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia Porcentual"
                subheader="del presente año">
                
                {{porcentaje | percent:'2.2-2'}}
                
        </p-card>
    </div>
    
</div>
